{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
       {{category.desc|truncatewords:155}}
    {% else %}
       welcome to the cart store where you can buy awesome items...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
       {{category.name}}-shop cart
    {% else %}
       see our collections-shop cart
    {% endif %}
{% endblock %}
{% block content %}

    {% if category %}
       <div class="row my_row_class">
           <div class="mx-auto">
               <p><a href="{% url 'allProdCat' %}">Our product collections</a>{{category.name}} </p>
           </div>
       </div>
    {% endif %}
<div class="mx-auto">
    {% if category %}
      <center><img class="my_image" src="{{category.img.url}}" alt="{{category.name}}" style="width:500px;height:500px"></center>
</div><br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.desc}}</p>
</div>
    {% else %}
        <div>
            <center><img class="my_image my_image_padding" src="{% static 'img/swera.png' %}" alt="" style="width:1350px;height:500px"></center>
        </div>
<br>

<div>
    <h1 class="text-center my_title">
        Our Products Collections
    </h1>
    <p class="text-justify">
    Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app. ... Online stores usually enable shoppers to use "search" features to find specific models, brands or items.
    </p>
</div>
{% endif %}
<div class="container">
    <div class="row max-auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.img.url}}" alt="{{product.name}}" style="width:280px;height:280px"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>${{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
             <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} activate {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}