{% extends 'base2.html' %}
{% load static %}
{% block metadescription %}
       {{product.desc|truncatewords:155}}
{% endblock %}
{% block title %}
       {{product.name}}-shop cart
{% endblock %}
{% block content %}
 {% if category %}
       <div class="row my_row_class">
           <div class="mx-auto">
               <p><a href="{% url 'allProdCat' %}">Our product collections</a>{{category.name}} </p>
           </div>
       </div>
    {% endif %}
<div class="mx-auto">
    {% if category %}
       <img class="my_image" src="{{category.img.url}}" alt="{{category.name}}">
</div><br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.desc}}</p>
</div>
    {% else %}
        <div>
            <center><img class="my_image my_image_padding" src="{% static 'img/swera.png' %}" alt="" style="width:1350px;height:500px"></center>
        </div>
<br>
{% endif %}
<form action="login" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="form-group text-center"> <input class="form-control" type="text" name="username" placeholder="username"></div>
        <div class="form-group text-center"> <input class="form-control" type="password" name="password" placeholder="password"></div>
      <center><input class="btn btn-success" type="submit" value="Login"></center>
    </div>
</form>
{% endblock %}