{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
       {{product.desc|truncatewords:155}}
{% endblock %}
{% block title %}
       {{product.name}}-shop cart
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-8">
        <div class="banner">
           <p><a href="{% url 'allProdCat' %}">Home</a>|<a href="{{product.category.get_url}}"></a>{{product.name}} </p>
        </div>
    </div>
</div>
    <div class="row mx-auto">
        <div class="col-md-4 ">
            <img class="align-self-center mr-3" src="{{product.img.url}}" alt="Generic placeholder image" style="width:300px;height:300px">
        </div>
        <div class="col-md-4 ">
         <h5 class="mt-0">{{product.name}}</h5>
    <p>${{product.price}}</p>
    <p class="text-justify">{{product.desc}}</p>
      {% if product.stock <= 0 %}
      <p><b>out of stock</b></p>
      {% else %}
      <br>
      <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-dark">Add to cart</a>
      {% endif %}
        </div>
    </div>

</div>
{% endblock %}